<!-- Added by Avra to modify the site title. Add logo -->


<!--<a href="{{ .Site.BaseURL | relLangURL }}">
	<img alt="riktronics-logo" src="/riktronics-logo.jpg" style="width: 50px; height: 50px;">
</a>-->
<!--<a style="text-align: center; margin-bottom: 0px; padding-bottom: 0px" href="{{ .Site.BaseURL | relLangURL }}">
	<img style="text-align: center; margin: 0px; padding: 0px; width: 50px; height: 50px;" alt="riktronics-logo" src="/riktronics-logo.jpg">
</a>-->
<a style="border-radius: 0px; text-decoration: unset; border-style: solid; border-width: 1px; padding-left: 25px; padding-right: 25px;" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
